<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfGoodsOutMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfGoodsOut" id="XfGoodsOutResult">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="userId" column="user_id"/>
        <result property="out" column="out"/>
        <result property="imgs" column="imgs"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="goodsName" column="goods_name"/>
        <result property="userName" column="fullname"/>
        <result property="siteName" column="site_name"/>
    </resultMap>

    <resultMap id="goodsOutVoMap" type="com.ruoyi.project.xcx.vo.GoodsOutVo">
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="imgs" column="imgs"/>
        <result property="out" column="out"/>
        <result property="goodsName" column="goods_name"/>
        <result property="userName" column="fullname"/>
        <result property="siteName" column="site_name"/>
    </resultMap>

    <sql id="selectXfGoodsOutVo">
        select gout.id,
               goods_id,
               user_id,
               `out`,
               imgs,
               remark,
               gout.create_time,
               user.fullname,
               goods.goods_name,
               site.site_name
        from xf_goods_out as gout
                 left outer join xf_user_customer as user
                                 on gout.user_id = user.id
                 left outer join xf_wz_goods as goods
                                 on goods.id = gout.goods_id
                 left outer join xf_base_site as site
                                 on site.id = goods.site_id
    </sql>

    <sql id="selectGoodsOutVo">
        select user.fullname,
               site.site_name,
               goods.goods_name,
               gout.create_time,
               gout.`out`,
               gout.remark,
               gout.imgs
        from xf_goods_out as gout
                 left outer join xf_user_customer as user
                                 on gout.user_id = user.id
                 left outer join xf_wz_goods as goods
                                 on goods.id = gout.goods_id
                 left outer join xf_base_site as site
                                 on site.id = goods.site_id
    </sql>

    <select id="selectXfGoodsOutList" parameterType="com.ruoyi.project.xf.domain.XfGoodsOut" resultMap="XfGoodsOutResult">
        <include refid="selectXfGoodsOutVo"/>
        <where>
            <if test="goodsId != null ">and goods_id = #{goodsId}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="goodsName != null and goodsName != '' ">and goods.goods_name= #{goodsName}</if>
        </where>
        order by gout.create_time desc
    </select>

    <select id="selectXfGoodsOutById" parameterType="Long" resultMap="XfGoodsOutResult">
        <include refid="selectXfGoodsOutVo"/>
        where id = #{id}
    </select>

    <select id="selectGoodsOutVoList" resultMap="goodsOutVoMap">
        <include refid="selectGoodsOutVo"/>
        where gout.goods_id = #{goodsId}
        order by gout.create_time desc
    </select>

    <select id="selectByGoodsId" resultType="com.ruoyi.project.xf.domain.XfGoodsOut">
        select `out`, create_time as createTime
        from xf_goods_out
        where goods_id = #{goodsId}
        order by create_time desc
        limit 0,1
    </select>

    <insert id="insertXfGoodsOut" parameterType="com.ruoyi.project.xf.domain.XfGoodsOut" useGeneratedKeys="true" keyProperty="id">
        insert into xf_goods_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">goods_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="out != null ">`out`,</if>
            <if test="imgs != null  and imgs != ''">imgs,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">#{goodsId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="out != null ">#{out},</if>
            <if test="imgs != null  and imgs != ''">#{imgs},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateXfGoodsOut" parameterType="com.ruoyi.project.xf.domain.XfGoodsOut">
        update xf_goods_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null ">goods_id = #{goodsId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="out != null ">`out` = #{out},</if>
            <if test="imgs != null  and imgs != ''">imgs = #{imgs},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfGoodsOutById" parameterType="Long">
        delete
        from xf_goods_out
        where id = #{id}
    </delete>

    <delete id="deleteXfGoodsOutByIds" parameterType="String">
        delete from xf_goods_out where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>