<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfGoodsMaintainRecordMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfGoodsMaintainRecord" id="XfGoodsMaintainRecordResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="maintainDesc" column="maintain_desc"/>
        <result property="imgs" column="imgs"/>
        <result property="createTime" column="create_time"/>
        <result property="currentValue" column="current_value"/>
        <result property="goodsName" column="goods_name"/>
        <result property="userName" column="fullname"/>
        <result property="siteName" column="site_name"/>
    </resultMap>

    <resultMap id="MaintainRecordVoMap" type="com.ruoyi.project.xcx.vo.MaintainRecordVo">
        <result property="maintainDesc" column="maintain_desc"/>
        <result property="imgs" column="imgs"/>
        <result property="maintainTime" column="create_time"/>
        <result property="userName" column="fullname"/>
        <result property="goodsName" column="goods_name"/>
        <result property="siteName" column="site_name"/>
        <result property="currentValue" column="current_value"/>
        <result property="siteName" column="site_name"/>
    </resultMap>

    <sql id="selectXfGoodsMaintainRecordVo">
        select mRecord.id,
               user_id,
               goods_id,
               maintain_desc,
               imgs,
               mRecord.create_time,
               current_value,
               user.fullname,
               goods.goods_name,
               site.site_name
        from xf_goods_maintain_record as mRecord
                 left outer join xf_user_customer as user
                                 on mRecord.user_id = user.id
                 left outer join xf_wz_goods as goods
                                 on goods.id = mRecord.goods_id
                 left outer join xf_base_site as site
                                 on site.id = goods.site_id
    </sql>

    <sql id="selectMaintainRecordVo">
        select maintain_desc,
               imgs,
               mRecord.current_value,
               mRecord.create_time,
               user.fullname,
               goods.goods_name,
               site.site_name
        from xf_goods_maintain_record as mRecord
                 left outer join xf_user_customer as user
                                 on mRecord.user_id = user.id
                 left outer join xf_wz_goods as goods
                                 on goods.id = mRecord.goods_id
                 left outer join xf_base_site as site
                                 on site.id = goods.site_id
    </sql>

    <select id="selectXfGoodsMaintainRecordList" parameterType="com.ruoyi.project.xf.domain.XfGoodsMaintainRecord" resultMap="XfGoodsMaintainRecordResult">
        <include refid="selectXfGoodsMaintainRecordVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="goodsId != null ">and goods_id = #{goodsId}</if>
            <if test="goodsName != null and goodsName != '' ">and goods.goods_name = #{goodsName}</if>
        </where>
        order by mRecord.create_time desc
    </select>

    <select id="selectXfGoodsMaintainRecordById" parameterType="Long" resultMap="XfGoodsMaintainRecordResult">
        <include refid="selectXfGoodsMaintainRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectMaintainRecordVoList" resultMap="MaintainRecordVoMap">
        <include refid="selectMaintainRecordVo"/>
        where mRecord.goods_id = #{goodsId}
        order by mRecord.create_time desc
    </select>

    <insert id="insertXfGoodsMaintainRecord" parameterType="com.ruoyi.project.xf.domain.XfGoodsMaintainRecord" useGeneratedKeys="true" keyProperty="id">
        insert into xf_goods_maintain_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="goodsId != null ">goods_id,</if>
            <if test="maintainDesc != null  and maintainDesc != ''">maintain_desc,</if>
            <if test="imgs != null  and imgs != ''">imgs,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="currentValue != null ">current_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="goodsId != null ">#{goodsId},</if>
            <if test="maintainDesc != null  and maintainDesc != ''">#{maintainDesc},</if>
            <if test="imgs != null  and imgs != ''">#{imgs},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="currentValue != null ">#{currentValue},</if>
        </trim>
    </insert>

    <update id="updateXfGoodsMaintainRecord" parameterType="com.ruoyi.project.xf.domain.XfGoodsMaintainRecord">
        update xf_goods_maintain_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="goodsId != null ">goods_id = #{goodsId},</if>
            <if test="maintainDesc != null  and maintainDesc != ''">maintain_desc = #{maintainDesc},</if>
            <if test="imgs != null  and imgs != ''">imgs = #{imgs},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="currentValue != null ">current_value = #{currentValue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfGoodsMaintainRecordById" parameterType="Long">
        delete
        from xf_goods_maintain_record
        where id = #{id}
    </delete>

    <delete id="deleteXfGoodsMaintainRecordByIds" parameterType="String">
        delete from xf_goods_maintain_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>