<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfKqLeaveMapper">

    <resultMap type="XfKqLeave" id="XfKqLeaveResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="leaveStartTime" column="leave_start_time"/>
        <result property="leaveEndTime" column="leave_end_time"/>
        <result property="duration" column="duration"/>
        <result property="leaveType" column="leave_type"/>
        <result property="reason" column="reason"/>
        <result property="checkState" column="check_state"/>
        <result property="applyTime" column="apply_time"/>
        <result property="checkTime" column="check_time"/>
        <result property="checkRemark" column="check_remark"/>
        <result property="checkCustomerId" column="check_customer_id"/>
        <result property="siteId" column="site_id"/>
        <result property="siteName" column="site_name"/>
    </resultMap>


    <sql id="selectXfKqLeaveVo">
        select id,
               customer_id,
               leave_start_time,
               leave_end_time,
               duration,
               leave_type,
               reason,
               check_state,
               apply_time,
               check_time,
               check_remark,
               check_customer_id,
               site_id
        from xf_kq_leave
    </sql>

    <select id="queryListByPage" resultType="com.ruoyi.project.xf.domain.Leave">
        SELECT goout.id,customer.fullname, leave_start_time startTime,leave_end_time endTime ,leave_type leaveType,check_state checkState,goout.apply_time applyTime,
        manage.fullname checkCustomer_name,goout.site_id siteId,site.site_name
        from xf_kq_leave goout LEFT JOIN xf_user_customer customer ON customer.id=goout.customer_id
        LEFT JOIN xf_user_customer manage ON manage.id=goout.check_customer_id
        LEFT JOIN xf_base_site site ON site.id=goout.site_id where 1=1
        <if test="checkState == 23">and check_state IN (2,3)</if>
        <if test="checkState !=null and checkState!=0 and checkState!=23">and check_state =#{checkState}</if>
        <if test="customerId != null  and customerId != ''">and goout.customer_id=#{customerId}</if>
        <if test="siteId != null  and siteId != ''">and goout.site_id=#{siteId}</if>
        <if test="siteArea != null  and siteArea != ''">and goout.site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
            CONCAT(#{siteArea},'%'))
        </if>
        ORDER BY goout.id DESC LIMIT #{page},#{limit}
    </select>

    <select id="queryLeaveInfo" resultType="com.ruoyi.project.xf.domain.LeaveDetail">
        SELECT goout.id,
               customer.fullname,
               leave_start_time startTime,
               leave_end_time   endTime,
               leave_type       leaveType,
               check_state      checkState,
               goout.apply_time applyTime,
               manage.fullname  checkCustomer_name,
               goout.site_id    siteId,
               site.site_name,
               reason,
               check_time,
               check_remark
        from xf_kq_leave goout
                 LEFT JOIN xf_user_customer customer ON customer.id = goout.customer_id
                 LEFT JOIN xf_user_customer manage ON manage.id = goout.check_customer_id
                 LEFT JOIN xf_base_site site ON site.id = goout.site_id
        where goout.id = #{id}
    </select>

    <sql id="selectXfKqLeaveWeb">
        select kqLeave.id
             , kqLeave.customer_id
             , kqLeave.leave_start_time
             , kqLeave.leave_end_time
             , kqLeave.duration
             , kqLeave.leave_type
             , kqLeave.reason
             , kqLeave.check_state
             , kqLeave.apply_time
             , kqLeave.check_time
             , kqLeave.check_remark
             , kqLeave.check_customer_id
             , kqLeave.site_id
             , customer.fullname as customerName
             , site.site_name
        from xf_kq_leave kqLeave
                 LEFT JOIN xf_user_customer customer ON customer.id = kqLeave.customer_id
                 LEFT JOIN xf_base_site site ON site.id = kqLeave.site_id
    </sql>


    <select id="selectXfKqLeaveList" parameterType="XfKqLeave" resultMap="XfKqLeaveResult">
        <include refid="selectXfKqLeaveWeb"/>
        <where>
            <if test="customerId != null ">and kqLeave.customer_id = #{customerId}</if>
            <if test="leaveStartTime != null ">and kqLeave.leave_start_time = #{leaveStartTime}</if>
            <if test="leaveEndTime != null ">and kqLeave.leave_end_time = #{leaveEndTime}</if>
            <if test="duration != null ">and kqLeave.duration = #{duration}</if>
            <if test="leaveType != null ">and kqLeave.leave_type = #{leaveType}</if>
            <if test="checkState != null ">and kqLeave.check_state = #{checkState}</if>
            <if test="applyTime != null ">and kqLeave.apply_time = #{applyTime}</if>
            <if test="checkTime != null ">and kqLeave.check_time = #{checkTime}</if>
            <if test="checkRemark != null  and checkRemark != ''">and kqLeave.check_remark = #{checkRemark}</if>
            <if test="checkCustomerId != null ">and kqLeave.check_customer_id = #{checkCustomerId}</if>
            <if test="siteId != null ">and kqLeave.site_id = #{siteId}</if>
            <if test="siteName != null and siteName.trim()!=''  ">and site.site_name LIKE CONCAT(concat('%',#{siteName}),'%')</if>
            <if test="customerName != null and customerName.trim()!=''  ">and customer.fullname LIKE CONCAT(concat('%',#{customerName}),'%')</if>
        </where>
    </select>

    <select id="selectXfKqLeaveById" parameterType="Long" resultMap="XfKqLeaveResult">
        <include refid="selectXfKqLeaveVo"/>
        where id = #{id}
    </select>

    <insert id="insertXfKqLeave" parameterType="XfKqLeave" useGeneratedKeys="true" keyProperty="id">
        insert into xf_kq_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null ">customer_id,</if>
            <if test="leaveStartTime != null ">leave_start_time,</if>
            <if test="leaveEndTime != null ">leave_end_time,</if>
            <if test="duration != null ">duration,</if>
            <if test="leaveType != null ">leave_type,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="checkState != null ">check_state,</if>
            <if test="applyTime != null ">apply_time,</if>
            <if test="checkTime != null ">check_time,</if>
            <if test="checkRemark != null  and checkRemark != ''">check_remark,</if>
            <if test="checkCustomerId != null ">check_customer_id,</if>
            <if test="siteId != null ">site_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null ">#{customerId},</if>
            <if test="leaveStartTime != null ">#{leaveStartTime},</if>
            <if test="leaveEndTime != null ">#{leaveEndTime},</if>
            <if test="duration != null ">#{duration},</if>
            <if test="leaveType != null ">#{leaveType},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="checkState != null ">#{checkState},</if>
            <if test="applyTime != null ">#{applyTime},</if>
            <if test="checkTime != null ">#{checkTime},</if>
            <if test="checkRemark != null  and checkRemark != ''">#{checkRemark},</if>
            <if test="checkCustomerId != null ">#{checkCustomerId},</if>
            <if test="siteId != null ">#{siteId},</if>
        </trim>
    </insert>

    <update id="updateXfKqLeave" parameterType="XfKqLeave">
        update xf_kq_leave
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="leaveStartTime != null ">leave_start_time = #{leaveStartTime},</if>
            <if test="leaveEndTime != null ">leave_end_time = #{leaveEndTime},</if>
            <if test="duration != null ">duration = #{duration},</if>
            <if test="leaveType != null ">leave_type = #{leaveType},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="checkState != null ">check_state = #{checkState},</if>
            <if test="applyTime != null ">apply_time = #{applyTime},</if>
            <if test="checkTime != null ">check_time = #{checkTime},</if>
            <if test="checkRemark != null  and checkRemark != ''">check_remark = #{checkRemark},</if>
            <if test="checkCustomerId != null ">check_customer_id = #{checkCustomerId},</if>
            <if test="siteId != null ">site_id = #{siteId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfKqLeaveById" parameterType="Long">
        delete
        from xf_kq_leave
        where id = #{id}
    </delete>

    <delete id="deleteXfKqLeaveByIds" parameterType="String">
        delete from xf_kq_leave where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectXfKqLeaveWaitClockNumByCheckId" parameterType="Long" resultType="int">
        SELECT count(*)
        from xf_kq_leave
        where check_customer_id = #{check_customer_id}
          and check_state = 1
    </select>

    <select id="selectXfKqLeaveWaitClockNumBySiteId" parameterType="Long" resultType="int">
        SELECT count(*)
        from xf_kq_leave
        where site_id = #{site_id}
          and check_state = 1
    </select>

    <select id="selectAttendanceCalLeaveDay" resultType="com.ruoyi.project.xf.domain.AttendanceCal">
        SELECT count(*) as leaveday from xf_kq_leave where check_state=2
        <if test="customerId != null and customerId != '' ">and customer_id = #{customerId}</if>
        <if test="siteId != null  and siteId != ''">and site_id = #{siteId}</if>
        <if test="siteArea != null  and siteArea != ''">and site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
            CONCAT(#{siteArea},'%'))
        </if>
        <if test="month != null  and month != ''">and date_format(leave_start_time,'%Y-%m')&lt;=#{month} and date_format(leave_end_time,'%Y-%m')&gt;=#{month}</if>
        <if test="startDay != null  and startDay != ''">
            and date_format(leave_start_time,'%Y-%m-%d')&gt;= date_format(#{startDay},'%Y-%m-%d')
        </if>
        <if test="endDay != null  and endDay != '' ">and date_format(leave_end_time,'%Y-%m-%d')&lt;=date_format(#{endDay},'%Y-%m-%d')</if>
    </select>

    <select id="selectAttendanceCalLeaveDetail" resultType="com.ruoyi.project.xf.domain.AttendanceCalDetail">
        SELECT customer_id,leave_start_time as onwork_time,leave_end_time as offwork_time ,customer.fullname
        from xf_kq_leave leve LEFT JOIN xf_user_customer customer ON leve.customer_id=customer.id
        where check_state=2
        <if test="customerId != null and customerId != '' ">and customer_id = #{customerId}</if>
        <if test="siteId != null  and siteId != ''">and leve.site_id = #{siteId}</if>
        <if test="siteArea != null  and siteArea != ''">and leve.site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
            CONCAT(#{siteArea},'%'))
        </if>
        <if test="month != null  and month != ''">and date_format(leave_start_time,'%Y-%m')&lt;=#{month} and date_format(leave_end_time,'%Y-%m')&gt;=#{month}</if>
        <if test="startDay != null  and startDay != ''">and date_format(leave_end_time,'%Y-%m-%d')&gt;=#{startDay}</if>
        <if test="endDay != null  and endDay != '' ">and date_format(leave_start_time,'%Y-%m-%d')&lt;=#{endDay}</if>
        ORDER BY leve.id DESC
    </select>

    <select id="selectUserIdListBySite" resultType="java.lang.Long">
        select distinct customer_id
        from xf_kq_leave
        where check_state = 2
          and NOW() between DATE_FORMAT(leave_start_time, '%Y-%m-%d %H:%i:%s') and DATE_FORMAT(leave_end_time, '%Y-%m-%d %H:%i:%s')
          and site_id = #{siteId}
    </select>

    <select id="selectUserIdListBySites" resultType="java.lang.Long">
        select distinct customer_id
        from xf_kq_leave
        where check_state = 2
        and NOW() between DATE_FORMAT(leave_start_time, '%Y-%m-%d %H:%i:%s') and DATE_FORMAT(leave_end_time, '%Y-%m-%d %H:%i:%s')
        and site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectNameAndSiteNameBySite"
            resultMap="com.ruoyi.project.xf.mapper.XfUserCustomerMapper.CustomerStatisticsListOutputVoResultMap"
    >
        select user.id, user.fullname, site.site_name
        from xf_kq_leave as kq
                 inner join xf_user_customer as user
                            on kq.customer_id = user.id
                 inner join xf_base_site as site
                            on user.site_id = site.id
        where check_state = 2
          and NOW() between DATE_FORMAT(leave_start_time, '%Y-%m-%d %H:%i:%s') and DATE_FORMAT(leave_end_time, '%Y-%m-%d %H:%i:%s')
          and user.site_id = #{siteId}
    </select>

    <select id="selectNameAndSiteNameBySites" resultType="com.ruoyi.project.xcx.response.CustomerStatisticsListOutputVo">
        select user.id, user.fullname, site.site_name
        from xf_kq_leave as kq
        inner join xf_user_customer as user
        on kq.customer_id = user.id
        inner join xf_base_site as site
        on user.site_id = site.id
        where check_state = 2
        and NOW() between DATE_FORMAT(leave_start_time, '%Y-%m-%d %H:%i:%s') and DATE_FORMAT(leave_end_time, '%Y-%m-%d %H:%i:%s')
        and user.site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>