<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfSupplierMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.project.xf.domain.XfSupplier">
        <result column="supplier" property="supplier"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_column_list">
        supplier,create_time
    </sql>

    <insert id="batchInsert">
        insert into xf_supplier
        values
        <foreach collection="collection" item="item" separator=",">
            (#{item},now())
        </foreach>
    </insert>

    <select id="selectList" resultType="com.ruoyi.project.xf.domain.XfSupplier">
        select
        <include refid="base_column_list"/>
        from xf_supplier
    </select>
</mapper>