<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfUserCustomerMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfUserCustomer" id="XfUserCustomerResult">
        <result property="id" column="id"/>
        <result property="headimg" column="headimg"/>
        <result property="fullname" column="fullname"/>
        <result property="mobilephone" column="mobilephone"/>
        <result property="password" column="password"/>
        <result property="siteId" column="site_id"/>
        <result property="siteName" column="site_name"/>
        <result property="state" column="state"/>
        <result property="roleLevel" column="role_level"/>
        <result property="wxBindFlag" column="wx_bind_flag"/>
        <result property="roleName" column="role_name"/>
        <result property="stateDesc" column="stateDesc"/>
        <result property="manageArea" column="manage_area"/>
        <result property="psw" column="psw"/>
        <result property="checkable" column="checkable"/>
        <result property="userType" column="user_type"/>
    </resultMap>

    <resultMap id="CustomerStatisticsListOutputVoResultMap" type="com.ruoyi.project.xcx.response.CustomerStatisticsListOutputVo">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="fullname" property="customerName" javaType="java.lang.String"/>
        <result column="site_name" property="siteName" javaType="java.lang.String"/>
    </resultMap>

    <sql id="selectXfUserCustomerVo">
        select id,
               headimg,
               fullname,
               mobilephone,
               site_id,
               state,
               role_level,
               wx_bind_flag,
               manage_area
        from xf_user_customer
    </sql>
    <sql id="selectXfUserCustomerSiteVo">
        select customer.id,
               headimg,
               fullname,
               mobilephone,
               site_id,
               customer.state,
               role_level,
               site.site_name,
               wx_bind_flag,
               wx_bind_flag
        from xf_user_customer customer
                 LEFT JOIN xf_base_site site ON customer.site_id = site.id
    </sql>

    <sql id="selectXfUserCustomerSiteVoPsw">
        select customer.id,
               headimg,
               fullname,
               mobilephone,
               site_id,
               customer.state,
               role_level,
               site.site_name,
               wx_bind_flag,
               wx_bind_flag
        from xf_user_customer customer
                 LEFT JOIN xf_base_site site ON customer.site_id = site.id
    </sql>

    <select id="quyerSiteidsByUserIds" parameterType="long" resultType="long">
        select site_id from xf_user_customer
        WHERE id IN
        <foreach collection="userIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY site_id
    </select>

    <select id="queryListBySiteIds" parameterType="long" resultMap="XfUserCustomerResult">
        select id,fullname from xf_user_customer
        WHERE state=1 AND role_level=1
        AND site_id IN
        <foreach collection="siteIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryListBySiteId" parameterType="long" resultMap="XfUserCustomerResult">
        select id, fullname
        from xf_user_customer
        WHERE site_id = #{siteId}
          AND state = 1
          AND role_level = 1
    </select>

    <select id="queryListBySiteIdAndRoleId" resultMap="XfUserCustomerResult">
        <include refid="selectXfUserCustomerVo"></include>
        WHERE site_id = #{siteId} AND role_level=#{roleLevel}
    </select>

    <select id="selectXfUserCustomerList" parameterType="XfUserCustomer" resultMap="XfUserCustomerResult">
        select customer.id, headimg, fullname, mobilephone, site_id,site.site_name,customer.state, role_level,
        manage_area,customer.user_type,customer.checkable,
        wechat.id as wx_bind_flag,
        case when role_level=1 then '消防员' when role_level=2 then '站长' when role_level=3 then '应急管理员' else '' end role_name,
        case when customer.state=1 then '启用' when customer.state=4 then '禁用' else '' end stateDesc

        from xf_user_customer as customer
        LEFT JOIN xf_base_site site ON customer.site_id=site.id
        left outer join xf_user_b_wechat as wechat on wechat.user_id = customer.id and wechat.user_type = 2
        <where>
            <if test="fullname != null  and fullname != ''">and customer.fullname like concat('%', #{fullname}, '%')</if>
            <if test="mobilephone != null  and mobilephone != ''">and customer.mobilephone like concat('%', #{mobilephone}, '%')</if>
            <if test="password != null  and password != ''">and customer.password = #{password}</if>
            <if test="siteName != null and  siteName.trim!='' ">and site_name LIKE concat(concat('%',#{siteName}),'%')</if>
            <if test="siteId != null ">and customer.site_id = #{siteId}</if>
            <if test="state != null ">and customer.state = #{state}</if>
            <if test="roleLevel != null ">and customer.role_level = #{roleLevel}</if>
        </where>
        ORDER BY customer.id DESC
    </select>

    <select id="selectXfUserCustomerById" parameterType="Long" resultMap="XfUserCustomerResult">
        <include refid="selectXfUserCustomerVo"/>
        where id = #{id}
    </select>

    <select id="selectXfUserCustomerSiteById" parameterType="Long" resultMap="XfUserCustomerResult">
        <include refid="selectXfUserCustomerSiteVo"/>
        where customer.id =#{id}
    </select>

    <select id="selectXfUserCustomerByMobile" parameterType="XfUserCustomer" resultMap="XfUserCustomerResult">
        <include refid="selectXfUserCustomerVo"/>
        where mobilephone = #{mobilephone}
    </select>

    <select id="selectXfUserCustomerSiteByMobile" parameterType="XfUserCustomer" resultMap="XfUserCustomerResult">
        <include refid="selectXfUserCustomerSiteVoPsw"/>
        where mobilephone = #{mobilephone}
    </select>

    <select id="queryCustomerSiteListByPage" resultType="com.ruoyi.project.xf.domain.CustomerSite">
        select customer.id, fullname, mobilephone, role_level,customer.site_id,site.site_name
        from xf_user_customer customer LEFT JOIN xf_base_site site ON customer.site_id=site.id
        where customer.state=1
        <if test="fullname != null  and fullname != ''">and (fullname LIKE concat('%', #{fullname}, '%') or mobilephone LIKE concat('%', #{fullname}, '%'))</if>
        <if test="siteId != null  and siteId != ''">and customer.site_id=#{siteId}</if>
        <if test="siteArea != null  and siteArea != ''">and customer.site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
            CONCAT(#{siteArea},'%'))
        </if>
        ORDER BY customer.id DESC LIMIT #{page},#{limit}
    </select>

    <select id="queryListByUserIds" resultType="com.ruoyi.project.xf.domain.XfUserCustomer">
        <include refid="selectXfUserCustomerVo"/>where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectPhoneExists" resultType="java.lang.Integer">
        select count(1)
        from xf_user_customer
        where mobilephone = #{phone}
    </select>

    <select id="selectByPhone" resultType="com.ruoyi.project.xf.domain.XfUserCustomer">
        <include refid="selectXfUserCustomerVo"/>
        where mobilephone = #{phone}
    </select>

    <select id="selectSiteManagerBySiteId" resultType="com.ruoyi.project.xf.domain.XfUserCustomer">
        <include refid="selectXfUserCustomerVo"/>
        where site_id = #{siteId}
        and role_level = 2
    </select>

    <select id="selectCountBySite" resultType="java.lang.Integer">
        select count(1)
        from xf_user_customer as user
        where user.site_id = #{siteId}
          and user_type = 1
    </select>

    <select id="selectTerminalIdsBySite" resultType="java.lang.Long">
        select id
        from xf_user_customer
        where site_id = #{siteId}
          and user_type = 2
    </select>

    <select id="selectTerminalIdsBySites" resultType="java.lang.Long">
        select id
        from xf_user_customer
        where site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user_type=2
    </select>

    <select id="selectCountBySites" resultType="java.lang.Integer">
        select count(1)
        from xf_user_customer as user
        where user.site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectNameAndSiteNameBySite" resultMap="CustomerStatisticsListOutputVoResultMap">
        select fullname, site_name, user.id
        from xf_user_customer as user
                 inner join xf_base_site as site
                            on user.site_id = site.id
        where site_id = #{siteId}
    </select>

    <select id="selectNameAndSiteNameBySites" resultMap="CustomerStatisticsListOutputVoResultMap">
        select fullname, site_name, user.id
        from xf_user_customer as user
        inner join xf_base_site as site
        on user.site_id = site.id
        where site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user.user_type=1
    </select>

    <select id="selectNameAndSiteNameByIds" resultMap="CustomerStatisticsListOutputVoResultMap">
        select fullname, site_name, user.id
        from xf_user_customer as user
        inner join xf_base_site as site
        on user.site_id = site.id
        where user.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user.user_type=1
    </select>

    <select id="selectIdsBySites" resultType="java.lang.Long">
        select id from xf_user_customer where site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectFiremanIdBySite" resultType="java.lang.Long">
        select id
        from xf_user_customer
        where site_id = #{siteId}
          and role_level = 1
    </select>

    <insert id="insertXfUserCustomer" parameterType="com.ruoyi.project.xf.domain.XfUserCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into xf_user_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="headimg != null  and headimg != ''">headimg,</if>
            <if test="fullname != null  and fullname != ''">fullname,</if>
            <if test="mobilephone != null  and mobilephone != ''">mobilephone,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="siteId != null ">site_id,</if>
            <if test="state != null ">state,</if>
            <if test="roleLevel != null ">role_level,</if>
            <if test="manageArea != null ">manage_area,</if>
            <if test="checkable != null ">checkable,</if>
            <if test="userType != null ">user_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="headimg != null  and headimg != ''">#{headimg},</if>
            <if test="fullname != null  and fullname != ''">#{fullname},</if>
            <if test="mobilephone != null  and mobilephone != ''">#{mobilephone},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="siteId != null ">#{siteId},</if>
            <if test="state != null ">#{state},</if>
            <if test="roleLevel != null ">#{roleLevel},</if>
            <if test="manageArea != null ">#{manageArea},</if>
            <if test="checkable != null ">#{checkable}</if>
            <if test="userType != null ">#{userType}</if>
        </trim>
    </insert>

    <update id="updateXfUserCustomer" parameterType="com.ruoyi.project.xf.domain.XfUserCustomer">
        update xf_user_customer
        set site_id = #{siteId}
        <if test="headimg != null  and headimg != ''">,headimg = #{headimg}</if>
        <if test="fullname != null  and fullname != ''">,fullname = #{fullname}</if>
        <if test="mobilephone != null  and mobilephone != ''">,mobilephone = #{mobilephone}</if>
        <if test="password != null  and password != ''">,password = #{password}</if>
        <if test="state != null ">,state = #{state}</if>
        <if test="roleLevel != null ">,role_level = #{roleLevel}</if>
        <if test="wxBindFlag != null ">,wx_bind_flag = #{wxBindFlag}</if>
        <if test="manageArea != null ">,manage_area = #{manageArea}</if>
        <if test="checkable != null ">,checkable = #{checkable}</if>
        <if test="userType != null ">,user_type = #{userType}</if>
        where id = #{id}
    </update>

    <update id="updateCustomerCheckFlag">
        update xf_user_customer
        set checkable = #{checkable}
        where id = #{id}
    </update>

    <update id="updateCustomerUserType">
        update xf_user_customer
        set user_type = #{userType}
        where id = #{id}
        <if test="userType!=1">and role_level = 1</if>
    </update>

    <update id="updateCustomerState">
        update xf_user_customer
        set state = #{state}
        where id = #{id}
    </update>

    <delete id="deleteXfUserCustomerById" parameterType="Long">
        delete
        from xf_user_customer
        where id = #{id}
    </delete>

    <delete id="deleteXfUserCustomerByIds" parameterType="String">
        delete from xf_user_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSiteManageList" parameterType="String" resultType="com.ruoyi.project.xcx.response.UserInfoBase">
        select id, fullname fullName
        from xf_user_customer
        where role_level = 3
          and #{manage_area} LIKE concat(manage_area, '%')
    </select>

    <select id="selectByPhoneWithLogin" resultMap="XfUserCustomerResult">
        select c.id,
               headimg,
               fullname,
               mobilephone,
               site_id,
               c.state,
               role_level,
               site.site_name
        from xf_user_customer as c
                 left outer join xf_base_site as site
                                 on c.site_id = site.id
        where c.mobilephone = #{phone}
    </select>

    <select id="selectCheckableCustomers" resultType="com.ruoyi.project.xcx.vo.NameIdVo">
        select id, fullname as name
        from xf_user_customer
        where site_id = #{siteId}
          and checkable = 1
    </select>

    <select id="selectSiteId" resultType="java.lang.Long">
        select site_id
        from xf_user_customer
        where id = #{userId}
    </select>

    <select id="selectCheckerById" resultType="java.lang.Boolean">
        select count(1)
        from xf_user_customer
        where site_id = #{siteId}
          and id = #{id}
    </select>

    <select id="selectCustomersCountBySiteIds" resultType="java.lang.Integer">
        select count(1)
        from xf_user_customer
        where site_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user_type = 1
    </select>

    <select id="selectByIdWithLogin" resultMap="XfUserCustomerResult">
        select c.id,
               headimg,
               fullname,
               mobilephone,
               site_id,
               c.state,
               role_level,
               site.site_name
        from xf_user_customer as c
                 left outer join xf_base_site as site
                                 on c.site_id = site.id
        where c.id = #{id}
    </select>


</mapper>