<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfWorkEventMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfWorkEvent" id="XfWorkEventResult">
        <result property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="senderId" column="sender_id"/>
        <result property="createTime" column="create_time"/>
        <result property="siteId" column="site_id"/>
        <result property="senderName" column="senderName"/>
        <result property="siteName" column="siteName"/>
        <result property="senderLevel" column="senderLevel"/>
    </resultMap>

    <sql id="selectXfWorkEventVo">
        select event.id,
               event.subject,
               event.content,
               event.sender_id,
               event.create_time,
               event.site_id,
               user.fullname   as senderName,
               user.role_level as senderLevel,
               site.site_name  as siteName
        from xf_work_event as event
                 left outer join xf_user_customer as user
                                 on event.sender_id = user.id
                 left outer join xf_base_site as site
                                 on site.id = event.site_id
    </sql>

    <select id="selectXfWorkEventList" parameterType="com.ruoyi.project.xf.domain.XfWorkEvent" resultMap="XfWorkEventResult">
        <include refid="selectXfWorkEventVo"/>
        <where>
            <if test="subject != null  and subject != ''">and `subject` like concat('%',#{subject},'%')</if>
            <if test="senderId != null ">and sender_id = #{senderId}</if>
            <if test="siteId != null ">and site_id = #{siteId}</if>
            <if test="siteName != null and siteName != ''">and site.site_name like concat('%',#{siteName},'%')</if>
        </where>
        order by event.create_time desc
    </select>

    <select id="selectXfWorkEventById" parameterType="Long" resultMap="XfWorkEventResult">
        <include refid="selectXfWorkEventVo"/>
        where id = #{id}
    </select>

    <insert id="insertXfWork" parameterType="com.ruoyi.project.xcx.entity.XfWorkReportBase" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
        </trim>
    </insert>

    <insert id="insertXfWorkEvent" parameterType="XfWorkEvent" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
        </trim>
    </insert>

    <update id="updateXfWorkEvent" parameterType="XfWorkEvent">
        update xf_work_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject = #{subject},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="senderId != null ">sender_id = #{senderId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="siteId != null ">site_id = #{siteId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfWorkEventById" parameterType="Long">
        delete
        from xf_work_event
        where id = #{id}
    </delete>

    <delete id="deleteXfWorkEventByIds" parameterType="String">
        delete from xf_work_event where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectXfWorkListH5" resultType="com.ruoyi.project.xcx.response.WorkListVo">
        select l.id, l.subject, l.create_time createTime,s.site_name siteName,c.fullname senderName from xf_work_event l
        left join xf_user_customer c on c.id=l.sender_id
        left join xf_base_site s on s.id=l.site_id
        <where>
            <if test="customerId != null ">and l.sender_id = #{customerId}</if>
            <if test="siteId != null ">and l.site_id = #{siteId}</if>
            <if test="province != null  and province != ''">and l.site_id in ( select id from xf_base_site where province= #{province}
                <if test="city != null  and city != ''">and city = #{city}</if>
                <if test="area != null  and area != ''">and area = #{area}</if>
                <if test="street != null  and street != ''">and street = #{street}</if>
                )
            </if>
            <if test="title != null  and title != ''">and l.subject like CONCAT(CONCAT('%', #{title}),'%')</if>
            <if test="reportMan != null  and reportMan != ''">and c.fullname like CONCAT(CONCAT('%', #{reportMan}),'%')</if>
        </where>
        order by l.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectXfWorkListExcel" resultType="XfWorkEvent">
        select l.id, l.subject, l.content, l.create_time createTimeShow,s.site_name siteName,c.fullname senderName from xf_work_event l
        left join xf_user_customer c on c.id=l.sender_id
        left join xf_base_site s on s.id=l.site_id
        <where>
            <if test="customerId != null ">and l.sender_id = #{customerId}</if>
            <if test="siteId != null ">and l.site_id = #{siteId}</if>
            <if test="province != null  and province != ''">and l.site_id in ( select id from xf_base_site where province= #{province}
                <if test="city != null  and city != ''">and city = #{city}</if>
                <if test="area != null  and area != ''">and area = #{area}</if>
                <if test="street != null  and street != ''">and street = #{street}</if>
                )
            </if>
            <if test="title != null  and title != ''">and l.subject like CONCAT(CONCAT('%', #{title}),'%')</if>
            <if test="reportMan != null  and reportMan != ''">and c.fullname like CONCAT(CONCAT('%', #{reportMan}),'%')</if>
        </where>
        order by l.create_time desc
    </select>

    <select id="selectXfWorkReportH5ById" parameterType="Long" resultType="com.ruoyi.project.xcx.response.XfWorkReportDetailVo">
        select l.id, l.subject, l.content, l.create_time createTime, s.site_name siteName, c.fullname senderName, l.sender_id senderId
        from xf_work_event l
                 left join xf_user_customer c on c.id = l.sender_id
                 left join xf_base_site s on s.id = l.site_id
        where l.id = #{id}
    </select>


</mapper>