<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfWorkReportMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfWorkReport" id="XfWorkReportResult">
        <result property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="senderId" column="sender_id"/>
        <result property="createTime" column="create_time"/>
        <result property="siteId" column="site_id"/>
        <result property="siteArea" column="site_area"/>
        <result property="senderName" column="senderName"/>
        <result property="senderLevel" column="senderLevel"/>
        <result property="siteName" column="siteName"/>
    </resultMap>

    <sql id="selectXfWorkReportVo">
        select re.id,
               subject,
               content,
               sender_id,
               re.create_time,
               re.site_id,
               site_area,
               user.fullname   as senderName,
               user.role_level as senderLevel,
               site.site_name  as siteName
        from xf_work_report as re
                 left outer join xf_user_customer as user
                                 on re.sender_id = user.id
                 left outer join xf_base_site as site
                                 on site.id = re.site_id
    </sql>

    <select id="selectXfWorkReportList" parameterType="com.ruoyi.project.xf.domain.XfWorkReport" resultMap="XfWorkReportResult">
        <include refid="selectXfWorkReportVo"/>
        <where>
            <if test="subject != null  and subject != ''">and `subject` like concat('%',#{subject},'%')</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="senderId != null ">and sender_id = #{senderId}</if>
            <if test="siteId != null ">and site_id = #{siteId}</if>
            <if test="siteArea != null  and siteArea != ''">and site_area = #{siteArea}</if>
            <if test="siteName != null  and siteName != ''">and site.site_name like concat('%',#{siteName},'%')</if>
        </where>
        order by re.create_time desc
    </select>

    <select id="selectXfWorkReportById" parameterType="Long" resultMap="XfWorkReportResult">
        <include refid="selectXfWorkReportVo"/>
        where id = #{id}
    </select>

    <insert id="insertXfWork" parameterType="com.ruoyi.project.xcx.entity.XfWorkReportBase" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
            <if test="siteArea != null  and siteArea != ''">site_area,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
            <if test="siteArea != null  and siteArea != ''">#{siteArea},</if>
        </trim>
    </insert>

    <insert id="insertXfWorkReport" parameterType="XfWorkReport" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
            <if test="siteArea != null  and siteArea != ''">site_area,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
            <if test="siteArea != null  and siteArea != ''">#{siteArea},</if>
        </trim>
    </insert>

    <update id="updateXfWorkReport" parameterType="XfWorkReport">
        update xf_work_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject = #{subject},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="senderId != null ">sender_id = #{senderId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="siteId != null ">site_id = #{siteId},</if>
            <if test="siteArea != null  and siteArea != ''">site_area = #{siteArea},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfWorkReportById" parameterType="Long">
        delete
        from xf_work_report
        where id = #{id}
    </delete>

    <delete id="deleteXfWorkReportByIds" parameterType="String">
        delete from xf_work_report where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectMyNeedReadNum" resultType="int">
        select count(r.id)
        from xf_work_report r left join xf_work_report_receipt_bind u on r.id=u.work_id and u.customer_id=#{customerId}
        where
        ( #{area} like CONCAT(r.site_area,'%')
        <if test="siteId != null  and siteId != ''">or r.site_id=#{siteId}</if>
        )
        and r.sender_id!=#{customerId} and u.id is null
    </select>

    <select id="selectXfWorkListH5" resultType="com.ruoyi.project.xcx.response.WorkListVo">
        select r.id, r.subject, r.create_time createTime,case when (r.sender_id=#{customerId} or u.id is not null) then 2 else 1 end readState,rn.readNum
        from xf_work_report r left join xf_work_report_receipt_bind u on r.id=u.work_id and u.customer_id=#{customerId}
        left join (select work_id,count(customer_id) readNum from xf_work_report_receipt_bind group by work_id) rn on r.id=rn.work_id
        where
        ( #{area} like CONCAT(r.site_area,'%')
        <if test="siteId != null  and siteId != ''">or r.site_id=#{siteId}</if>
        )
        <if test="selectDate != null  and selectDate != ''">and date_format(r.create_time ,'%Y-%m-%d')=date_format(#{selectDate} ,'%Y-%m-%d')</if>
        <if test="title != null  and title != ''">and r.subject like CONCAT(CONCAT('%', #{title}),'%')</if>
        order by r.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectXfWorkListExcel" resultType="XfWorkReport">
        select r.id, r.subject,r.content, r.create_time createTimeShow,rn.readNum
        from xf_work_report r
        left join (select work_id,count(customer_id) readNum from xf_work_report_receipt_bind group by work_id) rn on r.id=rn.work_id
        where
        ( #{area} like CONCAT(r.site_area,'%')
        <if test="siteId != null  and siteId != ''">or r.site_id=#{siteId}</if>
        )
        <if test="selectDate != null  and selectDate != ''">and date_format(r.create_time ,'%Y-%m-%d')=date_format(#{selectDate} ,'%Y-%m-%d')</if>
        <if test="title != null  and title != ''">and r.subject like CONCAT(CONCAT('%', #{title}),'%')</if>
        order by r.create_time desc
    </select>

    <select id="selectXfWorkReportH5ById" parameterType="Long" resultType="com.ruoyi.project.xcx.response.XfWorkReportDetailVo">
        select id, subject, content, create_time createTime, sender_id senderId
        from xf_work_report
        where id = #{id}
    </select>

</mapper>