<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfWorkAdviseMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfWorkAdvise" id="XfWorkAdviseResult">
        <result property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="senderId" column="sender_id"/>
        <result property="createTime" column="create_time"/>
        <result property="siteId" column="site_id"/>
        <result property="siteName" column="siteName"/>
        <result property="senderName" column="senderName"/>
    </resultMap>

    <sql id="selectXfWorkAdviseVo">
        select advice.id,
               advice.subject,
               advice.content,
               advice.sender_id,
               advice.create_time,
               advice.site_id,
               site.site_name as siteName,
               user.fullname  as senderName
        from xf_work_advise as advice
                 left outer join xf_user_customer as user
                                 on advice.sender_id = user.id
                 left outer join xf_base_site as site
                                 on site.id = advice.site_id
    </sql>

    <select id="selectXfWorkAdviseList" parameterType="com.ruoyi.project.xf.domain.XfWorkAdvise" resultMap="XfWorkAdviseResult">
        <include refid="selectXfWorkAdviseVo"/>
        <where>
            <if test="subject != null  and subject != ''">and `subject` like concat('%',#{subject},'%')</if>
            <if test="senderId != null ">and sender_id = #{senderId}</if>
            <if test="siteId != null ">and site_id = #{siteId}</if>
            <if test="siteName != null  and siteName != ''">and site.site_name like concat('%',#{siteName},'%')</if>
        </where>
        order by advice.create_time desc
    </select>

    <select id="selectXfWorkAdviseById" parameterType="Long" resultMap="XfWorkAdviseResult">
        <include refid="selectXfWorkAdviseVo"/>
        where id = #{id}
    </select>

    <insert id="insertXfWork" parameterType="com.ruoyi.project.xcx.entity.XfWorkReportBase" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_advise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
        </trim>
    </insert>

    <insert id="insertXfWorkAdvise" parameterType="XfWorkAdvise" useGeneratedKeys="true" keyProperty="id">
        insert into xf_work_advise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="senderId != null ">sender_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="siteId != null ">site_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="senderId != null ">#{senderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="siteId != null ">#{siteId},</if>
        </trim>
    </insert>

    <update id="updateXfWorkAdvise" parameterType="XfWorkAdvise">
        update xf_work_advise
        <trim prefix="SET" suffixOverrides=",">
            <if test="subject != null  and subject != ''">subject = #{subject},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="senderId != null ">sender_id = #{senderId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="siteId != null ">site_id = #{siteId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfWorkAdviseById" parameterType="Long">
        delete
        from xf_work_advise
        where id = #{id}
    </delete>

    <delete id="deleteXfWorkAdviseByIds" parameterType="String">
        delete from xf_work_advise where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectXfWorkListH5" resultType="com.ruoyi.project.xcx.response.WorkListVo">
        select l.id, l.subject, l.create_time createtime, s.site_name sitename, c.fullname sendername
        from xf_work_advise l
                 left join xf_user_customer c on c.id = l.sender_id
                 left join xf_base_site s on s.id = l.site_id
        where l.sender_id = #{customerId}
        order by l.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectXfWorkListH5CC" resultType="com.ruoyi.project.xcx.response.WorkListVo">
        select l.id, l.subject, l.create_time createTime,s.site_name siteName,c.fullname senderName from xf_work_advise l
        left join xf_user_customer c on c.id=l.sender_id
        left join xf_base_site s on s.id=l.site_id
        where l.id in (SELECT work_id from xf_work_advise_cc_bind where customer_id = #{customerId})
        <if test="province != null  and province != ''">and l.site_id in ( select id from xf_base_site where province= #{province}
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="area != null  and area != ''">and area = #{area}</if>
            <if test="street != null  and street != ''">and street = #{street}</if>
            )
        </if>
        order by l.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectXfWorkListExcel" resultType="XfWorkAdvise">
        select l.id, l.subject, l.content, l.create_time createTimeShow, s.site_name sitename, c.fullname sendername
        from xf_work_advise l
                 left join xf_user_customer c on c.id = l.sender_id
                 left join xf_base_site s on s.id = l.site_id
        where l.sender_id = #{customerId}
        order by l.create_time desc
    </select>

    <select id="selectXfWorkListExcelCC" resultType="XfWorkAdvise">
        select l.id, l.subject, l.content, l.create_time createTimeShow,s.site_name siteName,c.fullname senderName from xf_work_advise l
        left join xf_user_customer c on c.id=l.sender_id
        left join xf_base_site s on s.id=l.site_id
        where l.id in (SELECT work_id from xf_work_advise_cc_bind where customer_id = #{customerId})
        <if test="province != null  and province != ''">and l.site_id in ( select id from xf_base_site where province= #{province}
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="area != null  and area != ''">and area = #{area}</if>
            <if test="street != null  and street != ''">and street = #{street}</if>
            )
        </if>
        order by l.create_time desc
    </select>


    <select id="selectXfWorkReportH5ById" parameterType="Long" resultType="com.ruoyi.project.xcx.response.XfWorkReportDetailVo">
        select l.id, l.subject, l.content, l.create_time createTime, s.site_name siteName, c.fullname senderName, l.sender_id senderId
        from xf_work_advise l
                 left join xf_user_customer c on c.id = l.sender_id
                 left join xf_base_site s on s.id = l.site_id
        where l.id = #{id}
    </select>


</mapper>