<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfWxRepairMapper">
    <resultMap type="com.ruoyi.project.xf.domain.XfWxRepair" id="XfWxRepairResult">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="managerInnerId" column="manager_inner_id"/>
        <result property="innerId" column="inner_id"/>
        <result property="createTime" column="create_time"/>
        <result property="reason" column="reason"/>
        <result property="contactsName" column="contacts_name"/>
        <result property="contactsMobile" column="contacts_mobile"/>
        <result property="repairState" column="repair_state"/>
        <result property="repairGrade" column="repair_grade"/>
        <result property="repairTime" column="repair_time"/>
        <result property="feedback" column="feedback"/>
        <result property="reworkReason" column="rework_reason"/>
        <result property="reworkNum" column="rework_num"/>
        <result property="goodsState" column="goods_state"/>
        <result property="assignTime" column="assign_time"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="wxTypeId" column="wx_type_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="siteName" column="site_name"/>
        <result property="rapporteur" column="rapporteur"/>
        <result property="innerName" column="innerName"/>
        <result property="bz" column="bz"/>
        <result property="siteAddress" column="site_address"/>
        <result property="inGuarantee" column="in_guarantee"/>
        <result property="goods" column="goods"/>
        <result property="availableFlag" column="available_flag"/>
    </resultMap>

    <sql id="selectXfWxRepairVo">
        select id,
               wx_type_id,
               goods_id,
               goods_code,
               customer_id,
               manager_inner_id,
               inner_id,
               create_time,
               reason,
               contacts_name,
               contacts_mobile,
               repair_state,
               repair_grade,
               repair_time,
               feedback,
               bz,
               rework_reason,
               rework_num,
               goods_state,
               assign_time
        from xf_wx_repair
    </sql>

    <select id="selectXfWxRepairDetailById" resultType="com.ruoyi.project.xf.domain.RepairDetail">
        SELECT wxRepair.id,
               wxRepair.create_time,
               repair_state,
               repair_grade,
               reason,
               contacts_name,
               contacts_mobile,
               repair_time,
               feedback,
               wxRepair.goods,
               wxRepair.bz,
               rework_reason,
               goods.id             goods_id,
               wx_type_id,
               wx_type_name,
               goods.goods_code,
               goods_name,
               site.id              site_id,
               manufactor,
               in_guarantee,
               site.site_name,
               ret_repair_time   as retRepairTime,
               be_solved,
               site.site_address,
               available_flag,
               goods,
               customer_id       as customerId,
               sysUser.user_name AS repairMan
        FROM xf_wx_repair wxRepair
                 LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id = goods.id
                 LEFT JOIN xf_base_site site ON site.id = wxRepair.site_id
                 LEFT JOIN xf_wx_type wxType ON wxType.id = wxRepair.wx_type_id
                 LEFT JOIN sys_user as sysUser on wxRepair.inner_id = sysUser.user_id
        WHERE wxRepair.id = #{id}
    </select>

    <select id="selectXfWxRepairHistory" resultType="com.ruoyi.project.xf.domain.RepairHistory">
        SELECT r.id,
               r.create_time,
               repair_state,
               repair_grade,
               reason,
               contacts_name,
               contacts_mobile,
               repair_time,
               feedback,
               bz,
               rework_reason,
               c.fullname  create_name,
               u.nick_name repair_name
        FROM xf_wx_repair r
                 LEFT JOIN xf_user_customer c ON r.customer_id = c.id
                 LEFT JOIN sys_user u ON r.inner_id = u.user_id
        WHERE r.goods_id = #{id}
        ORDER BY r.id DESC
    </select>

    <select id="selectXfWxSiteRepairHistory" resultType="com.ruoyi.project.xf.domain.RepairHistory">
        SELECT r.id,
               r.create_time,
               repair_state,
               repair_grade,
               reason,
               contacts_name,
               contacts_mobile,
               repair_time,
               feedback,
               bz,
               rework_reason,
               c.fullname  create_name,
               u.nick_name repair_name
        FROM xf_wx_repair r
                 LEFT JOIN xf_user_customer c ON r.customer_id = c.id
                 LEFT JOIN sys_user u ON r.inner_id = u.user_id
        WHERE r.site_id = #{id}
          AND r.goods = 0
        ORDER BY r.id DESC
    </select>

    <select id="queryListByPage" resultType="com.ruoyi.project.xf.domain.XfWxRepair">
        SELECT id, create_time, goods_id, repair_state, repair_grade
        FROM xf_wx_repair wxRepair
        WHERE customer_id = #{customerId}
          AND repair_state = #{repairState}
        ORDER BY id DESC
        LIMIT #{page},#{limit}
    </select>
    <!--查询已维修或已评论的维修申请-->
    <select id="queryListByPage2" resultType="com.ruoyi.project.xf.domain.XfWxRepair">
        SELECT id, create_time, goods_id, repair_state, repair_grade
        FROM xf_wx_repair wxRepair
        WHERE customer_id = #{customerId}
          AND repair_state IN (3, 4, 5)
        ORDER BY id DESC
        LIMIT #{page},#{limit}
    </select>

    <!--1：待维修 2：已维修 3：待评论   repairState;//0或空：全部；12待指派 ;3待维修；4：已维修；5：已评论 -->
    <select id="queryShowListByPage2" resultType="com.ruoyi.project.xf.domain.RepairInfo">
        SELECT wxRepair.id,wxRepair.create_time as createTime,goods_name as goodsName,repair_grade as repairGrade,
        site.site_address as siteAddress,site.site_name as siteName,repair_state as repairState,`user`.nick_name repairMan,goods,
        ret_repair_time as retRepairTime
        FROM xf_wx_repair wxRepair LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id=goods.id
        LEFT JOIN xf_base_site site ON site.id=wxRepair.site_id
        LEFT JOIN sys_user user ON user.user_id=wxRepair.inner_id
        <where>
            <if test="customerId != null  and customerId != ''">and customer_id=#{customerId}</if>
            <if test="inner_id != null  and inner_id != ''">and inner_id=#{inner_id}</if>
            <if test="siteId != null  and siteId != ''">and wxRepair.site_id=#{siteId}</if>
            <if test="siteArea != null  and siteArea != ''">and wxRepair.site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
                CONCAT(#{siteArea},'%'))
            </if>
            <if test="state == 1">and repair_state IN (1,2,3)</if>
            <if test="state == 2">and repair_state IN (4,5)</if>
            <if test="state == 3">and repair_state = 4</if>
            <if test="state == 4">and repair_state IN (1,2)</if>
            <if test="repairState == 12">and repair_state IN (1,2)</if>
            <if test="repairState != null  and repairState != '' and repairState != 12">and repair_state = #{repairState}</if>
            <if test="startTime != null  and startTime != ''">and date_format(wxRepair.create_time,'%Y-%m-%d') &gt;= #{startTime}</if>
            <if test="endTime != null  and endTime != ''">and date_format(wxRepair.create_time,'%Y-%m-%d') &lt;= #{endTime}</if>
            <if test="siteId != null  and siteId != ''">and wxRepair.site_id = #{siteId}</if>
            <if test="repairGrade != null  and repairGrade != ''  and repairGrade != 0">and wxRepair.repair_grade = #{repairGrade}</if>

            <if test="supplierList != null">
                AND (
                (
                wxRepair.goods = 1
                and goods.supplier in
                <foreach collection="supplierList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
                or
                (
                wxRepair.goods = 0
                and instr(
                <foreach collection="supplierList" item="item" open="'" close="'">
                    ${item}
                </foreach>
                ,
                #{siteSupplier}
                )

                )
                )
            </if>


        </where>

        <if test="sortType == null or (sortType != 1 and sortType != 2 and sortType != 3)">ORDER BY wxRepair.create_time DESC</if>
        <if test="sortType != null and sortType == 1">ORDER BY wxRepair.create_time ASC</if>
        <if test="sortType != null and sortType == 2">ORDER BY wxRepair.repair_grade DESC</if>
        <if test="sortType != null and sortType == 3">ORDER BY wxRepair.repair_grade ASC</if>
        LIMIT #{page},#{limit}
    </select>

    <select id="queryShowList" resultType="com.ruoyi.project.xf.domain.RepairInfoExport">
        SELECT goods.goods_code goodsCode,goods.goods_name goodsName,CASE WHEN goods.state=4 THEN '已报损' ELSE '正常' END goodsState,
        site.site_name siteName,site.site_address siteAddress,wxRepair.create_time createTime,wxRepair.reason,wxRepair.contacts_name contactsName,
        wxRepair.contacts_mobile contactsMobile,wxRepair.repair_time repairTime,wxRepair.feedback,wxRepair.bz, wxRepair.repair_grade repairGrade,wxRepair.grade_time gradeTime,
        `user`.nick_name innerName,customer.fullname createMan,
        CASE WHEN wxRepair.repair_state=1 THEN '报修待指派' WHEN wxRepair.repair_state=2 THEN '返修待指派'
        WHEN wxRepair.repair_state=3 THEN '待维修' WHEN wxRepair.repair_state=4 THEN '已维修' WHEN wxRepair.repair_state=5 THEN '已评论' END AS repairStateName
        FROM xf_wx_repair wxRepair LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id=goods.id
        LEFT JOIN xf_base_site site ON site.id=wxRepair.site_id
        LEFT JOIN xf_user_customer customer ON customer.id=wxRepair.customer_id
        LEFT JOIN sys_user user ON user.user_id=wxRepair.inner_id
        WHERE 1=1
        <if test="customerId != null  and customerId != ''">and customer_id=#{customerId}</if>
        <if test="inner_id != null  and inner_id != ''">and inner_id=#{inner_id}</if>
        <if test="siteId != null  and siteId != ''">and wxRepair.site_id=#{siteId}</if>
        <if test="state == 1">and repair_state IN (1,2,3)</if>
        <if test="state == 2">and repair_state IN (4,5)</if>
        <if test="state == 3">and repair_state = 4</if>
        <if test="state == 4">and repair_state IN (1,2)</if>
        <if test="repairState == 12">and repair_state IN (1,2)</if>
        <if test="repairState != null  and repairState != '' and repairState != 12">and repair_state = #{repairState}</if>
        <if test="startTime != null  and startTime != ''">and date_format(wxRepair.create_time,'%Y-%m-%d') &gt;= #{startTime}</if>
        <if test="endTime != null  and endTime != ''">and date_format(wxRepair.create_time,'%Y-%m-%d') &lt;= #{endTime}</if>
        <if test="repairGrade != null  and repairGrade != ''  and repairGrade != 0">and wxRepair.repair_grade = #{repairGrade}</if>
        <if test="sortType == null or (sortType != 1 and sortType != 2 and sortType != 3)">ORDER BY wxRepair.create_time DESC</if>
        <if test="sortType != null and sortType == 1">ORDER BY wxRepair.create_time ASC</if>
        <if test="sortType != null and sortType == 2">ORDER BY wxRepair.repair_grade DESC</if>
        <if test="sortType != null and sortType == 3">ORDER BY wxRepair.repair_grade ASC</if>
    </select>

    <select id="selectRepairListByWeb" parameterType="XfWxRepair" resultMap="XfWxRepairResult">
        select wxRepair.id,wx_type_id,goods.goods_code, wxRepair.customer_id, wxRepair.inner_id, wxRepair.create_time,
        wxRepair.contacts_name, wxRepair.contacts_mobile,wxRepair.bz, wxRepair.repair_state, wxRepair.repair_time, wxRepair.rework_num, wxRepair.goods_state,
        wxRepair.assign_time, site.site_name ,goods.goods_name,`user`.nick_name innerName
        FROM xf_wx_repair wxRepair LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id=goods.id
        LEFT JOIN xf_base_site site ON site.id=wxRepair.site_id LEFT JOIN sys_user user ON user.user_id=wxRepair.inner_id
        <where>1=1
            <if test="goodsName != null and goodsName.trim()!=''">and goods.goods_name LIKE CONCAT(CONCAT('%',#{goodsName}),'%')</if>
            <if test="customerId != null ">and wxRepair.customer_id = #{customerId}</if>
            <if test="innerId != null ">and wxRepair.inner_id = #{innerId}</if>
            <if test="repairState != null and repairState != -1">and wxRepair.repair_state = #{repairState}</if>
            <if test="goodsCode != null and goodsCode.trim()!=''">and wxRepair.goods_code LIKE CONCAT(CONCAT('%',#{goodsCode}),'%')</if>
            <if test="siteName != null and siteName.trim()!='' ">and site.site_name LIKE CONCAT(CONCAT('%',#{siteName}),'%')</if>
            ORDER BY wxRepair.create_time DESC
        </where>
    </select>

    <select id="selectXfWxRepairList" parameterType="XfWxRepair" resultMap="XfWxRepairResult">
        <include refid="selectXfWxRepairVo"/>
        <where>1=1
            <if test="goodsId != null ">and goods_id = #{goodsId}</if>
            <if test="customerId != null ">and customer_id = #{customerId}</if>
            <if test="managerInnerId != null ">and manager_inner_id = #{managerInnerId}</if>
            <if test="innerId != null ">and inner_id = #{innerId}</if>
            <if test="reason != null  and reason != ''">and reason = #{reason}</if>
            <if test="contactsName != null  and contactsName != ''">and contacts_name like concat('%', #{contactsName}, '%')</if>
            <if test="contactsMobile != null  and contactsMobile != ''">and contacts_mobile = #{contactsMobile}</if>
            <if test="repairState != null and repairState != 123 and repairState != -1">and repair_state = #{repairState}</if>
            <if test="repairState == 123 ">and repair_state IN (1,2,3)</if>
            <if test="repairGrade != null ">and repair_grade = #{repairGrade}</if>
            <if test="repairTime != null ">and repair_time = #{repairTime}</if>
            <if test="feedback != null  and feedback != ''">and feedback = #{feedback}</if>
            <if test="bz != null  and bz != ''">and bz = #{bz}</if>
            <if test="reworkReason != null  and reworkReason != ''">and rework_reason = #{reworkReason}</if>
            <if test="reworkNum != null ">and rework_num = #{reworkNum}</if>
            <if test="goodsState != null ">and goods_state = #{goodsState}</if>
            <if test="assignTime != null ">and assign_time = #{assignTime}</if>
            <if test="goodsCode != null ">and goods_code = #{goodsCode}</if>
            <if test="siteName != null and siteName.trim()!='' ">
                and site_id in (SELECT id from xf_base_site WHERE site_name LIKE CONCAT(CONCAT('%',#{siteName}),'%') )
            </if>
        </where>
    </select>

    <select id="selectXfWxRepairById" parameterType="Long" resultMap="XfWxRepairResult">
        SELECT wxRepair.id,
               wx_type_id,
               wxRepair.create_time,
               wxRepair.bz,
               repair_state,
               repair_grade,
               reason,
               contacts_name,
               contacts_mobile,
               repair_time,
               feedback,
               rework_reason,
               rework_num,
               goods_state,
               assign_time,
               goods.id          goods_id,
               wxRepair.inner_id,
               wxRepair.goods,
               customer.fullname rapporteur,
               `user`.nick_name  innerName,
               goods.goods_code,
               goods_name,
               site.id           site_id,
               site.site_name,
               site.site_address
        FROM xf_wx_repair wxRepair
                 LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id = goods.id
                 LEFT JOIN xf_base_site site ON site.id = wxRepair.site_id
                 LEFT JOIN xf_user_customer customer ON customer.id = customer_id
                 LEFT JOIN sys_user user ON user.user_id = wxRepair.inner_id
        WHERE wxRepair.id = #{id}
    </select>

    <select id="selectXfWxRepairBaseById" parameterType="Long" resultMap="XfWxRepairResult">
        select *
        from xf_wx_repair
        where id = #{id}
    </select>

    <insert id="insertXfWxRepair" parameterType="XfWxRepair" useGeneratedKeys="true" keyProperty="id">
        insert into xf_wx_repair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">goods_id,</if>
            <if test="customerId != null ">customer_id,</if>
            <if test="managerInnerId != null ">manager_inner_id,</if>
            <if test="innerId != null ">inner_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="contactsName != null  and contactsName != ''">contacts_name,</if>
            <if test="contactsMobile != null  and contactsMobile != ''">contacts_mobile,</if>
            <if test="repairState != null ">repair_state,</if>
            <if test="repairGrade != null ">repair_grade,</if>
            <if test="repairTime != null ">repair_time,</if>
            <if test="feedback != null  and feedback != ''">feedback,</if>
            <if test="bz != null  and bz != ''">bz,</if>
            <if test="reworkReason != null  and reworkReason != ''">rework_reason,</if>
            <if test="reworkNum != null ">rework_num,</if>
            <if test="goodsState != null ">goods_state,</if>
            <if test="assignTime != null ">assign_time,</if>
            <if test="goodsCode != null ">goods_code,</if>
            <if test="wxTypeId != null ">wx_type_id,</if>
            <if test="siteId != null ">site_id,</if>
            <if test="availableFlag != null ">available_flag,</if>
            goods
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">#{goodsId},</if>
            <if test="customerId != null ">#{customerId},</if>
            <if test="managerInnerId != null ">#{managerInnerId},</if>
            <if test="innerId != null ">#{innerId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="contactsName != null  and contactsName != ''">#{contactsName},</if>
            <if test="contactsMobile != null  and contactsMobile != ''">#{contactsMobile},</if>
            <if test="repairState != null ">#{repairState},</if>
            <if test="repairGrade != null ">#{repairGrade},</if>
            <if test="repairTime != null ">#{repairTime},</if>
            <if test="feedback != null  and feedback != ''">#{feedback},</if>
            <if test="bz != null  and bz != ''">#{bz},</if>
            <if test="reworkReason != null  and reworkReason != ''">#{reworkReason},</if>
            <if test="reworkNum != null ">#{reworkNum},</if>
            <if test="goodsState != null ">#{goodsState},</if>
            <if test="assignTime != null ">#{assignTime},</if>
            <if test="goodsCode != null ">#{goodsCode},</if>
            <if test="wxTypeId != null ">#{wxTypeId},</if>
            <if test="siteId != null ">#{siteId},</if>
            <if test="availableFlag != null ">#{availableFlag},</if>
            #{goods}
        </trim>
    </insert>

    <update id="updateXfWxRepair" parameterType="XfWxRepair">
        update xf_wx_repair
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null ">goods_id = #{goodsId},</if>
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="managerInnerId != null ">manager_inner_id = #{managerInnerId},</if>
            <if test="innerId != null ">inner_id = #{innerId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="contactsName != null  and contactsName != ''">contacts_name = #{contactsName},</if>
            <if test="contactsMobile != null  and contactsMobile != ''">contacts_mobile = #{contactsMobile},</if>
            <if test="repairState != null ">repair_state = #{repairState},</if>
            <if test="repairGrade != null ">repair_grade = #{repairGrade},</if>
            <if test="repairTime != null ">repair_time = #{repairTime},</if>
            <if test="feedback != null  and feedback != ''">feedback = #{feedback},</if>
            <if test="bz != null  and bz != ''">bz = #{bz},</if>
            <if test="reworkReason != null  and reworkReason != ''">rework_reason = #{reworkReason},</if>
            <if test="reworkNum != null ">rework_num = #{reworkNum},</if>
            <if test="goodsState != null ">goods_state = #{goodsState},</if>
            <if test="assignTime != null ">assign_time = #{assignTime},</if>
            <if test="goodsCode != null ">goods_code = #{goodsCode},</if>
            <if test="wxTypeId != null ">wx_type_id = #{wxTypeId},</if>
            <if test="gradeTime != null ">grade_time = #{gradeTime},</if>
            <if test="inGuarantee != null ">in_guarantee = #{inGuarantee},</if>
            <if test="beSolved != null ">be_solved = #{beSolved},</if>
            <if test="retRepairTime != null ">ret_repair_time = #{retRepairTime},</if>
            <if test="availableFlag != null and availableFlag!=0">available_flag = #{availableFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateXfWxRepairReportLoss" parameterType="Long">
        update xf_wx_repair
        set goods_state=4
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteXfWxRepairById" parameterType="Long">
        delete
        from xf_wx_repair
        where id = #{id}
    </delete>

    <delete id="deleteXfWxRepairByIds" parameterType="String">
        delete from xf_wx_repair where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTotalCal" parameterType="Long" resultType="WxInfo">
        SELECT sum(CASE
                       WHEN date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
                           THEN 1
                       ELSE 0 END) curAddRepairNum,
               sum(CASE
                       WHEN date_format(repair_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
                           THEN 1
                       ELSE 0 END) curRepairedNum,
               sum(CASE
                       WHEN date_format(grade_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d') AND repair_grade = 5
                           THEN 1
                       ELSE 0 END) curRepair5StarNum,
               sum(CASE
                       WHEN date_format(grade_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d') AND repair_grade = 1
                           THEN 1
                       ELSE 0 END) curRepair1StarNum,
               count(create_time)  addRepairNum,
               sum(CASE
                       WHEN repair_time != ''
                           THEN 1
                       ELSE 0 END) repairedNum,
               sum(CASE
                       WHEN repair_grade = 5
                           THEN 1
                       ELSE 0 END) repair5StarNum,
               sum(CASE
                       WHEN repair_grade = 1
                           THEN 1
                       ELSE 0 END) repair1StarNum
        from xf_wx_repair
    </select>

    <select id="selectSiteRepairingCountBySiteId" resultType="java.lang.Integer">
        select count(1)
        from xf_wx_repair
        where site_id = #{siteId}
          and goods = 0
          and repair_state IN (1, 2, 3)
    </select>

    <select id="selectCountByGoodsId" resultType="java.lang.Integer">
        select count(1)
        from xf_wx_repair
        where goods_id = #{goods_id}
    </select>

    <select id="selectXfWxRepairDetailByIds" resultType="com.ruoyi.project.xf.domain.RepairDetail">
        SELECT wxRepair.id,
        wxRepair.create_time,
        repair_state,
        repair_grade,
        reason,
        contacts_name,
        contacts_mobile,
        repair_time,
        feedback,
        wxRepair.bz,
        rework_reason,
        goods.id goods_id,
        wx_type_id,
        wx_type_name,
        goods.goods_code,
        goods_name,
        site.id site_id,
        manufactor,
        in_guarantee,
        site.site_name,
        ret_repair_time as retRepairTime,
        be_solved,
        site.site_address,
        goods
        FROM xf_wx_repair wxRepair
        LEFT JOIN xf_wz_goods goods ON wxRepair.goods_id = goods.id
        LEFT JOIN xf_base_site site ON site.id = wxRepair.site_id
        LEFT JOIN xf_wx_type wxType ON wxType.id = wxRepair.wx_type_id
        WHERE wxRepair.id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>


    </select>


    <select id="selectRepairExportDetail" resultType="com.ruoyi.project.xf.vo.output.RepairExportDetailOutput">
        select tGoods.goods_name as goodsName,
        tGoods.goods_code as goodsCode,
        tGoods.manufactor as manufactor,
        tSite.site_name as siteName,
        tSite.site_code as siteCode,
        tSite.site_address as siteAddress,
        tRepair.create_time as sendRepairTime,
        tConsumer.fullname as repairSender,
        tRepair.contacts_name as linkMan,
        tRepair.contacts_mobile as linkManPhone,
        tRepair.reason as reason,
        tRepair.in_guarantee as inGuarantee,
        tSys.user_name as repairer,
        tRepair.repair_state as repairStatus,
        tSys2.user_name as managerName,
        tRepair.repair_time as repairTime,
        tRepair.goods as goods,
        tType.wx_type_name as repairType,
        tRepair.be_solved as beSolved,
        tRepair.feedback as feedback,
        tRepair.repair_grade as repairGrade,
        tRepair.bz as repairBz,
        tRepair.rework_reason as reworkReason,
        tRepair.ret_repair_time as retRepairTime,
        tRepair.rework_num as reworkNum,
        tRepair.grade_time as gradeTime,
        tRepair.assign_time as assignTime,
        tRepair.goods_state as goodsState,
        tWzType.type_name as goodsType
        from xf_wx_repair as tRepair
        left outer join xf_wz_goods as tGoods on tRepair.goods_id = tGoods.id
        left outer join xf_base_site as tSite on tRepair.site_id = tSite.id
        left outer join xf_user_customer as tConsumer on tRepair.customer_id = tConsumer.id
        left outer join sys_user as tSys on tSys.user_id = tRepair.inner_id
        left outer join sys_user as tSys2 on tSys2.user_id = tRepair.manager_inner_id
        left outer join xf_wx_type as tType on tType.id = tRepair.wx_type_id
        left outer join xf_wz_type as tWzType on tWzType.id = tGoods.type_id
        <where>
            <if test="goodsId != null ">and goods_id = #{goodsId}</if>
            <if test="customerId != null ">and customer_id = #{customerId}</if>
            <if test="managerInnerId != null ">and manager_inner_id = #{managerInnerId}</if>
            <if test="innerId != null ">and inner_id = #{innerId}</if>
            <if test="reason != null  and reason != ''">and reason = #{reason}</if>
            <if test="contactsName != null  and contactsName != ''">and contacts_name like concat('%', #{contactsName}, '%')</if>
            <if test="contactsMobile != null  and contactsMobile != ''">and contacts_mobile = #{contactsMobile}</if>
            <if test="repairState != null and repairState != 123 and repairState != -1">and repair_state = #{repairState}</if>
            <if test="repairState == 123 ">and repair_state IN (1,2,3)</if>
            <if test="repairGrade != null ">and repair_grade = #{repairGrade}</if>
            <if test="repairTime != null ">and repair_time = #{repairTime}</if>
            <if test="feedback != null  and feedback != ''">and feedback = #{feedback}</if>
            <if test="bz != null  and bz != ''">and tRepair.bz = #{bz}</if>
            <if test="reworkReason != null  and reworkReason != ''">and rework_reason = #{reworkReason}</if>
            <if test="reworkNum != null ">and rework_num = #{reworkNum}</if>
            <if test="goodsState != null ">and goods_state = #{goodsState}</if>
            <if test="assignTime != null ">and assign_time = #{assignTime}</if>
            <if test="goodsCode != null ">and tRepair.goods_code = #{goodsCode}</if>
            <if test="siteName != null and siteName.trim()!='' ">
                and tRepair.site_id in (SELECT id from xf_base_site WHERE site_name LIKE CONCAT(CONCAT('%',#{siteName}),'%') )
            </if>
            <if test="goodsName != null and goodsName.trim()!=''">and tGoods.goods_name LIKE CONCAT(CONCAT('%',#{goodsName}),'%')</if>
            <if test="customerId != null ">and tRepair.customer_id = #{customerId}</if>
            <if test="innerId != null ">and tRepair.inner_id = #{innerId}</if>
            <if test="repairState != null and repairState != -1">and tRepair.repair_state = #{repairState}</if>
            <if test="goodsCode != null and goodsCode.trim()!=''">and tRepair.goods_code LIKE CONCAT(CONCAT('%',#{goodsCode}),'%')</if>
            <if test="siteName != null and siteName.trim()!='' ">and tSite.site_name LIKE CONCAT(CONCAT('%',#{siteName}),'%')</if>
        </where>
        ORDER BY tRepair.create_time DESC

    </select>

    <select id="queryRepairExportDetail" resultType="com.ruoyi.project.xf.vo.output.RepairExportDetailOutput">
        select tGoods.goods_name as goodsName,
        tGoods.goods_code as goodsCode,
        tGoods.manufactor as manufactor,
        tSite.site_name as siteName,
        tSite.site_code as siteCode,
        tSite.site_address as siteAddress,
        tRepair.create_time as sendRepairTime,
        tConsumer.fullname as repairSender,
        tRepair.contacts_name as linkMan,
        tRepair.contacts_mobile as linkManPhone,
        tRepair.reason as reason,
        tRepair.in_guarantee as inGuarantee,
        tSys.user_name as repairer,
        tRepair.repair_state as repairStatus,
        tSys2.user_name as managerName,
        tRepair.repair_time as repairTime,
        tRepair.goods as goods,
        tType.wx_type_name as repairType,
        tRepair.be_solved as beSolved,
        tRepair.feedback as feedback,
        tRepair.repair_grade as repairGrade,
        tRepair.bz as repairBz,
        tRepair.rework_reason as reworkReason,
        tRepair.ret_repair_time as retRepairTime,
        tRepair.rework_num as reworkNum,
        tRepair.grade_time as gradeTime,
        tRepair.assign_time as assignTime,
        tRepair.goods_state as goodsState,
        tWzType.type_name as goodsType
        from xf_wx_repair as tRepair
        left outer join xf_wz_goods as tGoods on tRepair.goods_id = tGoods.id
        left outer join xf_base_site as tSite on tRepair.site_id = tSite.id
        left outer join xf_user_customer as tConsumer on tRepair.customer_id = tConsumer.id
        left outer join sys_user as tSys on tSys.user_id = tRepair.inner_id
        left outer join sys_user as tSys2 on tSys2.user_id = tRepair.manager_inner_id
        left outer join xf_wx_type as tType on tType.id = tRepair.wx_type_id
        left outer join xf_wz_type as tWzType on tWzType.id = tGoods.type_id
        <where>
            <if test="customerId != null  and customerId != ''">and tRepair.customer_id=#{customerId}</if>
            <if test="inner_id != null  and inner_id != ''">and tRepair.inner_id=#{inner_id}</if>
            <if test="siteId != null  and siteId != ''">and tRepair.site_id=#{siteId}</if>
            <if test="state == 1">and tRepair.repair_state IN (1,2,3)</if>
            <if test="state == 2">and tRepair.repair_state IN (4,5)</if>
            <if test="state == 3">and tRepair.repair_state = 4</if>
            <if test="state == 4">and tRepair.repair_state IN (1,2)</if>
            <if test="repairState == 12">and tRepair.repair_state IN (1,2)</if>
            <if test="repairState != null  and repairState != '' and repairState != 12">and tRepair.repair_state = #{repairState}</if>
            <if test="startTime != null  and startTime != ''">and date_format(tRepair.create_time,'%Y-%m-%d') &gt;= #{startTime}</if>
            <if test="endTime != null  and endTime != ''">and date_format(tRepair.create_time,'%Y-%m-%d') &lt;= #{endTime}</if>
            <if test="repairGrade != null  and repairGrade != ''  and repairGrade != 0">and tRepair.repair_grade = #{repairGrade}</if>

            <if test="supplierList != null">
                AND (
                (
                tRepair.goods = 1
                and tGoods.supplier in
                <foreach collection="supplierList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
                or
                (
                tRepair.goods = 0
                and instr(
                <foreach collection="supplierList" item="item" open="'" close="'">
                    ${item}
                </foreach>
                ,
                #{siteSupplier}
                )
                )
                )
            </if>

        </where>

        <if test="sortType == null or (sortType != 1 and sortType != 2 and sortType != 3)">ORDER BY tRepair.create_time DESC</if>
        <if test="sortType != null and sortType == 1">ORDER BY tRepair.create_time ASC</if>
        <if test="sortType != null and sortType == 2">ORDER BY tRepair.repair_grade DESC</if>
        <if test="sortType != null and sortType == 3">ORDER BY tRepair.repair_grade ASC</if>

    </select>

    <select id="selectCountBySiteId" resultType="java.lang.Integer">
        select count(1)
        from xf_wx_repair
        where site_id = #{siteId}
          and goods = 0
    </select>

    <select id="queryRepairRepresentativeGoodsList" resultType="com.ruoyi.project.xf.domain.RepairInfo">
        SELECT
        wxRepair.id,
        wxRepair.create_time AS createTime,
        tGoods.goods_name AS goodsName,
        repair_grade AS repairGrade,
        site.site_address AS siteAddress,
        site.site_name AS siteName,
        repair_state AS repairState,
        `user`.nick_name repairMan,
        goods,
        ret_repair_time AS retRepairTime
        FROM
        xf_wx_repair wxRepair
        LEFT JOIN xf_wz_goods AS tGoods ON wxRepair.goods_id = tGoods.id
        LEFT JOIN xf_base_site site ON site.id = wxRepair.site_id
        LEFT JOIN sys_user as `user` ON `user`.user_id = wxRepair.inner_id

        <where>
            <if test="state == 1">repair_state IN (1,2,3)</if>
            <if test="state == 2">repair_state IN (4,5)</if>
            <if test="state == 3">repair_state = 4</if>
            <if test="state == 4">repair_state IN (1,2)</if>

            and
            (
            (
            goods = 1
            AND tGoods.supplier in(
            <foreach collection="supplierList" item="item" separator=",">#{item}</foreach>
            )
            )
            or
            (
            goods = 0
            and instr(
            <foreach collection="supplierList" item="item" close="'" open="'">
                ${item}
            </foreach>
            ,
            #{siteSupplierName}
            )
            )
            )

        </where>
    </select>

</mapper>