<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.xf.mapper.XfWzReportlossMapper">

    <resultMap type="com.ruoyi.project.xf.domain.XfWzReportloss" id="XfWzReportlossResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="customerId" column="customer_id"/>
        <result property="checkId" column="check_id"/>
        <result property="checkTime" column="check_time"/>
        <result property="state" column="state"/>
        <result property="damageNum" column="damage_num"/>
        <result property="goodsId" column="goods_id"/>
    </resultMap>

    <resultMap id="XfWzReportLossVoMap" type="com.ruoyi.project.xf.vo.output.XfWzReportLossVo">
        <id property="id" column="id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="manufactor" column="manufactor"/>
        <result property="siteName" column="site_name"/>
        <result property="typeName" column="type_name"/>
        <result property="applyName" column="applyName"/>
        <result property="assessorName" column="assessorName"/>
        <result property="checkTime" column="check_time"/>
        <result property="state" column="state"/>
        <result property="damageNum" column="damage_num"/>
    </resultMap>

    <sql id="selectXfWzReportlossVo">
        select id,
               create_time,
               customer_id,
               check_id,
               check_time,
               state,
               damage_num,
               goods_id
        from xf_wz_reportloss
    </sql>

    <select id="selectXfWzReportlossList" parameterType="XfWzReportloss" resultMap="XfWzReportlossResult">
        <include refid="selectXfWzReportlossVo"/>
        <where>
            <if test="customerId != null ">and customer_id = #{customerId}</if>
            <if test="checkId != null ">and check_id = #{checkId}</if>
            <if test="checkTime != null  and checkTime != ''">and check_time = #{checkTime}</if>
            <if test="state != null ">and state = #{state}</if>
        </where>
    </select>

    <select id="selectXfWzReportlossById" parameterType="Long" resultMap="XfWzReportlossResult">
        <include refid="selectXfWzReportlossVo"/>
        where id = #{id}
    </select>

    <insert id="insertXfWzReportloss" parameterType="com.ruoyi.project.xf.domain.XfWzReportloss">
        insert into xf_wz_reportloss
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="customerId != null ">customer_id,</if>
            <if test="checkId != null ">check_id,</if>
            <if test="checkTime != null  and checkTime != ''">check_time,</if>
            <if test="state != null ">state,</if>
            <if test="damageNum != null">damage_num,</if>
            <if test="goodsId != null">goods_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="customerId != null ">#{customerId},</if>
            <if test="checkId != null ">#{checkId},</if>
            <if test="checkTime != null  and checkTime != ''">#{checkTime},</if>
            <if test="state != null ">#{state},</if>
            <if test="damageNum != null">#{damageNum},</if>
            <if test="goodsId != null">#{goodsId},</if>
        </trim>
    </insert>

    <update id="updateXfWzReportloss" parameterType="XfWzReportloss">
        update xf_wz_reportloss
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="checkId != null ">check_id = #{checkId},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="state != null ">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXfWzReportlossById" parameterType="Long">
        delete
        from xf_wz_reportloss
        where id = #{id}
    </delete>

    <delete id="deleteXfWzReportlossByIds" parameterType="String">
        delete from xf_wz_reportloss where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryShowListByPage2" resultType="com.ruoyi.project.xf.domain.Reportloss">
        select loss.id, loss.create_time createTime,loss.check_time checkTime, loss.state, goods_name as goodsName,
        loss.goods_id as goodsId,
        goods_code as goodsCode,customer2.fullname siteManageName,goodstype.type_name wzTypeName,customer2.fullname as siteManageName,
        loss.damage_num as damageNum
        from xf_wz_reportloss loss LEFT JOIN xf_wz_goods goods ON loss.goods_id=goods.id
        LEFT JOIN xf_wz_type goodstype ON goodstype.id=goods.type_id
        LEFT JOIN xf_user_customer customer ON customer.id = loss.customer_id
        LEFT JOIN xf_user_customer customer2 ON customer2.id = loss.check_id
        WHERE 1=1
        <if test="customerId != null  and customerId != ''">and customer_id=#{customerId}</if>
        <if test="siteId != null  and siteId != ''">and goods.site_id=#{siteId}</if>
        <if test="siteArea != null  and siteArea != ''">and goods.site_id in (SELECT id from xf_base_site where CONCAT(province,'-',city,'-',area,'-',street) like
            CONCAT(#{siteArea},'%'))
        </if>
        <if test="state != null  and state != ''">and loss.state = #{state}</if>
        order by loss.create_time desc
        LIMIT #{page},#{limit}
    </select>

    <select id="selectXfWzReportlossVoList" resultMap="XfWzReportLossVoMap">

        select
        report.id,
        goods.goods_name,
        goods.goods_code,
        goods.manufactor,
        site.site_name,
        type.type_name,
        user1.fullname as applyName,
        user2.fullname as assessorName,
        report.check_time,
        report.state,
        report .damage_num
        from xf_wz_reportloss as report
        left outer join xf_user_customer as user1 on report.customer_id = user1.id
        left outer join xf_user_customer as user2 on report.check_id = user2.id
        inner join xf_wz_goods as goods on report.goods_id = goods.id
        inner join xf_base_site as site on site.id = goods.site_id
        inner join xf_wz_type as type on type.id = goods.type_id

        <where>
            <if test="customerName != null and customerName != ''">
                and user1.fullname like concat('%',#{customerName},'%')
            </if>

            <if test="checkName != null and checkName != ''">
                and user2.fullname like concat('%',#{checkName},'%')
            </if>

            <if test="state != null">
                and report.state = #{state}
            </if>

            <if test="checkTime != null and checkTime!= ''">
                and date_format(report.check_time,'%Y-%m-%d') = date_format(#{checkTime},'%Y-%m-%d')
            </if>

        </where>

    </select>

    <select id="selectXfWzReportlossByGoodsId" resultType="com.ruoyi.project.xf.domain.XfWzReportloss">
        <include refid="selectXfWzReportlossVo"/>
        where goods_id = #{goodsId}
    </select>

    <select id="selectXfWzReportlossByGoodsIdAndState" resultType="com.ruoyi.project.xf.domain.XfWzReportloss">
        <include refid="selectXfWzReportlossVo"/>
        where goods_id = #{goodsId}
        and state = #{param2}
    </select>


</mapper>